body{
    background-color: #2c3646;
    color: #ffff;
}

.calendar-wrapper {
    width: 100vh;
    margin: 3em auto;
    padding: 2em;
    /* border: 1px solid #dcdcff; */
    /* border-radius: px; */
    /* background: #fff; */
    
}

table{
    clear: both;
    width: 100%;
    border: 2px solid #5ec2c3;
    border-radius: 3px;
    border-collapse: collapse;
    color: white;
}

td{
    height: 48px;
    text-align: center;
    vertical-align: middle;
    border-right: 2px solid #5ec2c3;
    border-top: 2px solid #5ec2c3;
    width: 4em;
    font-size: 1.2em;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

thead td{
    border: none;
    color: #28283b;
    text-transform: uppercase;
    font-size: 1.5em;
    color: white;
    font-weight: 800;
}

.not-current{
    opacity: 0.5;
}

tfoot{
    height: 2em;
    border-color:#5ec2c3;
    border-width: 2px;
    /* border-top: 2px solid #5ec2c3; */
}

#btnPrev{
    float: left;
    margin-bottom: 20px;
}

#btnPrev:before{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    padding-right: 4px;
}
  
#btnNext{
    float: right;
    margin-bottom: 20px;
}

#btnNext:after{
    padding-left: 4px;
}

.calendarIds{
    background-color: inherit;
    color: inherit;
    text-align: center;
    border-radius: 10px;
    font-size: inherit;
    cursor: pointer;
    box-shadow: none;
    border-style: hidden;
    transition: all 0.2s;
}

.calendarIds:hover{
    font-size: 1.33em;
}

#btnPrev,
#btnNext{
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #c0c0c0;
    cursor: pointer;
    font-family: sans-serif;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

#btnPrev:hover,
#btnNext:hover {
    color: #28283b;
    font-weight: bold;
}

.todayDay{
    height: 1.5em;
    width: 1.7em;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
    border-radius: 30%;
    font-weight: 700;
}

.todayDay:hover{
    text-decoration: none;
}

input[type=text] {
    margin: 2em 0 2em 0;
    font-size: 1em;
    background-color: #1a202a;
    color: white;
    padding: 10px 40px 10px 40px;
    border-radius: 30px;
    border: none;
    transition: all 1s;
}

input[type=text]:focus {
    border: none;
}

input::placeholder{
    color: white;
    opacity: 0.5;
}

.deleting-button{
    font-size: 1.4em;
    padding: 5px 10px 5px 10px;
    margin-top: 1em;
    border-radius: 30px;
    background-color: #1a202a;
    color: rgb(191, 189, 208);
    cursor: pointer;
    transition: all 0.3s;
}

.deleting-button:hover{
    font-size: 1.45em;
}

.task-box{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 2em 0 2em 18%;
    padding: 5px 10px 5px 10px;;
    border-radius: 10px;
    border: 2px #5ec2c3 solid;
}

.task-button{
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: 1.45em;
}

.done-button{
    color: rgb(1, 255, 1);
}

.del-button{
    color:red;
}

.remider-button{
    background-color: inherit;
    border: none;
    color: inherit;
    font-size: 1em;
    cursor: pointer;
}

.attention{
    font-size: 0.8em;
    color: red;
}